#Teleport{
     color: whitesmoke;
     height: 100px;
     width: 100px;
     padding: 5px;
     left: 100px;
     background-color: darkorchid;
     position: absolute;
     border-radius: 50%;
     animation-name: sipn;
     animation: sipn .5s linear infinite;
}
@keyframes sipn {
    0%{transform: rotate(0deg) translateY(120px) rotate(0deg)}
    25%{transform: translateX(500px) translateY(3200px)}
    100%{transform: rotate(360deg) translateY(120px) rotate(-360deg)}
}


.button{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

#redbutton{
    background-color: red;
    position: fixed;
    left: 48%;
    top: 40%;
    color: whitesmoke;
    box-shadow: -6px -5px 0px 1px rgb(211, 0, 0) inset;
}

#redbutton:hover{
    background-color: rgb(226, 3, 3);
    color: rgb(223, 218, 218);
}

#redbutton:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24);
}

.greenbutton{
    background-color: green;
    color: azure;
    position:fixed;
    left:60%;
    top:40%;
    box-shadow: -6px -5px 0px 1px rgb(2, 110, 2) inset;
}

.greenbutton:hover{
    background-color: rgb(2, 122, 2);
}

.bluebutton{
    background-color: blue;
    color: azure;
    position:fixed;
    left:35%;
    top:40%;
    box-shadow: -6px -5px 0px 1px rgb(0, 0, 233) inset;
}

.bluebutton:hover{
    background-color: rgb(2, 2, 245);
}

.purplebutton{
    background-color: blueviolet;
    color: azure;
    position: fixed;
    left:42%;
    top: 40%;
    box-shadow: -6px -5px 0px 1px rgba(145, 1, 211, 0.973) inset;
}

.purplebutton.hover{
    background-color: rgb(104, 0, 104);
}

.clonebutton1{
    background-color: red;
    position: fixed;
    left: 48%;
    top: 40%;
    color: whitesmoke;
    box-shadow: -6px -5px 0px 1px rgb(211, 0, 0) inset;
    border-radius: 50%;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.clonebutton2{
    background-color: red;
    position: fixed;
    left: 38%;
    top: 30%;
    color: whitesmoke;
    box-shadow: -6px -5px 0px 1px rgb(211, 0, 0) inset;
    border-radius: 50%;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.clonebutton2:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0,0,0,0.24);
}

.Victory{
    background-color: gold;
    position: fixed;
    left: 48%;
    top: 40%;
    color: black;
    box-shadow: -6px -5px 0px 1px goldenrod inset;
}